<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="beam">
                  <dir
                    name="runners">
                    <dir
                      name="dataflow">
                      <auto
                        name="CombineGloballyAsSingletonViewOverrideFactory.java"/>
                      <auto
                        name="CombineGroupedValues.java"/>
                      <auto
                        name="DataflowRunner.java"/>
                      <auto
                        name="Deduplicate.java"/>
                      <auto
                        name="IdentityMessageFn.java"/>
                      <auto
                        name="ImpulseTranslator.java"/>
                      <auto
                        name="MultiOutputExpandableTransformTranslator.java"/>
                      <auto
                        name="PrimitiveCombineGroupedValuesOverrideFactory.java"/>
                      <auto
                        name="ReflectiveOneToOneOverrideFactory.java"/>
                      <auto
                        name="ReflectiveViewOverrideFactory.java"/>
                      <auto
                        name="SingleOutputExpandableTransformTranslator.java"/>
                      <auto
                        name="StreamingBoundedRead.java"/>
                      <auto
                        name="StreamingBoundedReadOverrideFactory.java"/>
                      <auto
                        name="StreamingPCollectionViewWriterFn.java"/>
                      <auto
                        name="StreamingPubsubIORead.java"/>
                      <auto
                        name="StreamingPubsubIOReadOverrideFactory.java"/>
                      <auto
                        name="StreamingPubsubIOReadTranslator.java"/>
                      <auto
                        name="StreamingPubsubIOWrite.java"/>
                      <auto
                        name="StreamingPubsubIOWriteOverrideFactory.java"/>
                      <auto
                        name="StreamingPubsubSinkTranslators.java"/>
                      <auto
                        name="StreamingShardedWriteFactory.java"/>
                      <auto
                        name="StreamingUnboundedRead.java"/>
                      <auto
                        name="StreamingUnboundedReadOverrideFactory.java"/>
                    </dir>
                    <dir
                      name="direct">
                      <auto
                        name="DirectRunner.java"/>
                    </dir>
                  </dir>
                  <dir
                    name="sdk">
                    <auto
                      name="Pipeline.java"/>
                    <dir
                      name="coders">
                      <auto
                        name="Coder.java"/>
                    </dir>
                    <dir
                      name="extensions">
                      <dir
                        name="euphoria">
                        <dir
                          name="core">
                          <dir
                            name="annotation">
                            <dir
                              name="audience">
                              <auto
                                name="Audience.java"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="io">
                      <auto
                        name="FileIO.java"/>
                      <auto
                        name="FileSystems.java"/>
                      <auto
                        name="TextIO.java"/>
                      <dir
                        name="common">
                        <auto
                          name="NetworkTestHelper.java"/>
                      </dir>
                      <dir
                        name="gcp">
                        <dir
                          name="bigtable">
                          <auto
                            name="BigtableIO.java"/>
                        </dir>
                        <dir
                          name="pubsub">
                          <auto
                            name="PubsubIO.java"/>
                        </dir>
                        <dir
                          name="spanner">
                          <auto
                            name="SpannerIO.java"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="schemas">
                      <auto
                        name="Schema.java"/>
                    </dir>
                    <dir
                      name="transforms">
                      <auto
                        name="ApproximateQuantiles.java"/>
                      <auto
                        name="ApproximateUnique.java"/>
                      <auto
                        name="Combine.java"/>
                      <auto
                        name="Flatten.java"/>
                      <dir
                        name="windowing">
                        <auto
                          name="Trigger.java"/>
                        <auto
                          name="Window.java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="outputs">
          <dir
            name="refactored"/>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="beam">
                  <dir
                    name="runners">
                    <dir
                      name="dataflow">
                      <auto
                        name="DataflowRunnerTest.java"/>
                    </dir>
                    <dir
                      name="direct">
                      <auto
                        name="DirectRunnerTest.java"/>
                    </dir>
                  </dir>
                  <dir
                    name="sdk">
                    <auto
                      name="PipelineTest.java"/>
                    <dir
                      name="coders">
                      <auto
                        name="CoderTest.java"/>
                    </dir>
                    <dir
                      name="extensions">
                      <dir
                        name="euphoria">
                        <dir
                          name="core">
                          <dir
                            name="client">
                            <dir
                              name="accumulators">
                              <auto
                                name="Accumulator.java"/>
                              <auto
                                name="Counter.java"/>
                              <auto
                                name="Histogram.java"/>
                              <auto
                                name="Timer.java"/>
                            </dir>
                            <dir
                              name="io">
                              <auto
                                name="Context.java"/>
                              <auto
                                name="Environment.java"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                      <dir
                        name="gcp">
                        <dir
                          name="auth">
                          <auto
                            name="TestCredential.java"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="io">
                      <auto
                        name="FileIOTest.java"/>
                      <auto
                        name="FileSystemsTest.java"/>
                      <auto
                        name="TextIOReadTest.java"/>
                      <auto
                        name="TextIOWriteTest.java"/>
                      <dir
                        name="gcp">
                        <dir
                          name="bigtable">
                          <auto
                            name="BigtableIOTest.java"/>
                        </dir>
                        <dir
                          name="pubsub">
                          <auto
                            name="PubsubIOTest.java"/>
                        </dir>
                        <dir
                          name="spanner">
                          <auto
                            name="FakeServiceFactory.java"/>
                          <auto
                            name="SpannerIOReadChangeStreamTest.java"/>
                          <auto
                            name="SpannerIOReadTest.java"/>
                          <auto
                            name="SpannerIOWriteTest.java"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="schemas">
                      <auto
                        name="SchemaTest.java"/>
                    </dir>
                    <dir
                      name="testing">
                      <auto
                        name="ExpectedLogs.java"/>
                    </dir>
                    <dir
                      name="transforms">
                      <auto
                        name="ApproximateQuantilesTest.java"/>
                      <auto
                        name="ApproximateUniqueTest.java"/>
                      <auto
                        name="CombineTest.java"/>
                      <auto
                        name="FlattenTest.java"/>
                      <dir
                        name="errorhandling">
                        <auto
                          name="ErrorHandlingTestUtils.java"/>
                      </dir>
                      <dir
                        name="windowing">
                        <auto
                          name="TriggerTest.java"/>
                        <auto
                          name="WindowingTest.java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
</project>
