<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Java"/>
      </watched>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="beam">
                  <dir
                    name="runners">
                    <dir
                      name="dataflow">
                      <auto
                        name="DataflowRunner.java"/>
                    </dir>
                    <dir
                      name="direct">
                      <auto
                        name="DirectRunner.java"/>
                    </dir>
                  </dir>
                  <dir
                    name="sdk">
                    <auto
                      name="Pipeline.java"/>
                    <dir
                      name="coders">
                      <auto
                        name="Coder.java"/>
                    </dir>
                    <dir
                      name="extensions">
                      <dir
                        name="avro">
                        <dir
                          name="io">
                          <auto
                            name="AvroIO.java"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="io">
                      <auto
                        name="FileIO.java"/>
                      <auto
                        name="FileSystems.java"/>
                      <auto
                        name="TextIO.java"/>
                      <dir
                        name="common">
                        <auto
                          name="NetworkTestHelper.java"/>
                      </dir>
                      <dir
                        name="gcp">
                        <dir
                          name="bigtable">
                          <auto
                            name="BigtableIO.java"/>
                        </dir>
                        <dir
                          name="pubsub">
                          <auto
                            name="PubsubIO.java"/>
                        </dir>
                        <dir
                          name="spanner">
                          <auto
                            name="SpannerIO.java"/>
                        </dir>
                      </dir>
                      <dir
                        name="mongodb">
                        <auto
                          name="MongoDbIO.java"/>
                      </dir>
                    </dir>
                    <dir
                      name="schemas">
                      <auto
                        name="Schema.java"/>
                    </dir>
                    <dir
                      name="transforms">
                      <auto
                        name="ApproximateQuantiles.java"/>
                      <auto
                        name="ApproximateUnique.java"/>
                      <auto
                        name="Flatten.java"/>
                      <dir
                        name="windowing">
                        <auto
                          name="Trigger.java"/>
                        <auto
                          name="Window.java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="beam">
                  <dir
                    name="runners">
                    <dir
                      name="dataflow">
                      <auto
                        name="DataflowRunnerTest.java"/>
                    </dir>
                    <dir
                      name="direct">
                      <auto
                        name="DirectRunnerTest.java"/>
                    </dir>
                  </dir>
                  <dir
                    name="sdk">
                    <auto
                      name="PipelineTest.java"/>
                    <dir
                      name="coders">
                      <auto
                        name="CoderTest.java"/>
                    </dir>
                    <dir
                      name="extensions">
                      <dir
                        name="avro">
                        <dir
                          name="io">
                          <auto
                            name="AvroIOTest.java"/>
                        </dir>
                      </dir>
                      <dir
                        name="euphoria">
                        <dir
                          name="core">
                          <dir
                            name="client">
                            <dir
                              name="io">
                              <auto
                                name="Context.java"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                      <dir
                        name="gcp">
                        <dir
                          name="auth">
                          <auto
                            name="TestCredential.java"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="io">
                      <auto
                        name="FileIOTest.java"/>
                      <auto
                        name="FileSystemsTest.java"/>
                      <auto
                        name="TextIOReadTest.java"/>
                      <auto
                        name="TextIOWriteTest.java"/>
                      <dir
                        name="gcp">
                        <dir
                          name="bigtable">
                          <auto
                            name="BigtableIOTest.java"/>
                        </dir>
                        <dir
                          name="pubsub">
                          <auto
                            name="PubsubIOTest.java"/>
                        </dir>
                        <dir
                          name="spanner">
                          <auto
                            name="FakeServiceFactory.java"/>
                          <auto
                            name="SpannerIOReadChangeStreamTest.java"/>
                          <auto
                            name="SpannerIOReadTest.java"/>
                          <auto
                            name="SpannerIOWriteTest.java"/>
                        </dir>
                      </dir>
                      <dir
                        name="mongodb">
                        <auto
                          name="MongoDbIOTest.java"/>
                      </dir>
                    </dir>
                    <dir
                      name="schemas">
                      <auto
                        name="SchemaTest.java"/>
                    </dir>
                    <dir
                      name="testing">
                      <auto
                        name="ExpectedLogs.java"/>
                    </dir>
                    <dir
                      name="transforms">
                      <auto
                        name="ApproximateQuantilesTest.java"/>
                      <auto
                        name="ApproximateUniqueTest.java"/>
                      <auto
                        name="FlattenTest.java"/>
                      <dir
                        name="errorhandling">
                        <auto
                          name="ErrorHandlingTestUtils.java"/>
                      </dir>
                      <dir
                        name="windowing">
                        <auto
                          name="TriggerTest.java"/>
                        <auto
                          name="WindowingTest.java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="target"
        excluded="true">
        <dir
          name="generated-sources">
          <dir
            name="annotations">
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="beam">
                  <dir
                    name="runners">
                    <dir
                      name="dataflow">
                      <auto
                        name="AutoValue_DataflowRunner_EnvironmentInfo.java"/>
                    </dir>
                  </dir>
                  <dir
                    name="sdk">
                    <dir
                      name="extensions">
                      <dir
                        name="avro">
                        <dir
                          name="io">
                          <auto
                            name="AutoValue_AvroIO_Parse.java"/>
                          <auto
                            name="AutoValue_AvroIO_ParseAll.java"/>
                          <auto
                            name="AutoValue_AvroIO_ParseFiles.java"/>
                          <auto
                            name="AutoValue_AvroIO_Read.java"/>
                          <auto
                            name="AutoValue_AvroIO_ReadAll.java"/>
                          <auto
                            name="AutoValue_AvroIO_ReadFiles.java"/>
                          <auto
                            name="AutoValue_AvroIO_Sink.java"/>
                          <auto
                            name="AutoValue_AvroIO_TypedWrite.java"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="io">
                      <auto
                        name="AutoValue_FileIO_Match.java"/>
                      <auto
                        name="AutoValue_FileIO_MatchAll.java"/>
                      <auto
                        name="AutoValue_FileIO_MatchConfiguration.java"/>
                      <auto
                        name="AutoValue_FileIO_ReadMatches.java"/>
                      <auto
                        name="AutoValue_FileIO_Write.java"/>
                      <auto
                        name="AutoValue_TextIO_Read.java"/>
                      <auto
                        name="AutoValue_TextIO_ReadAll.java"/>
                      <auto
                        name="AutoValue_TextIO_ReadFiles.java"/>
                      <auto
                        name="AutoValue_TextIO_Sink.java"/>
                      <auto
                        name="AutoValue_TextIO_TypedWrite.java"/>
                      <dir
                        name="gcp">
                        <dir
                          name="bigtable">
                          <auto
                            name="AutoValue_BigtableIO_Read.java"/>
                          <auto
                            name="AutoValue_BigtableIO_ReadChangeStream.java"/>
                          <auto
                            name="AutoValue_BigtableIO_Write.java"/>
                        </dir>
                        <dir
                          name="pubsub">
                          <auto
                            name="AutoValue_PubsubIO_Read.java"/>
                          <auto
                            name="AutoValue_PubsubIO_Write.java"/>
                        </dir>
                        <dir
                          name="spanner">
                          <auto
                            name="AutoValue_SpannerIO_CreateTransaction.java"/>
                          <auto
                            name="AutoValue_SpannerIO_Read.java"/>
                          <auto
                            name="AutoValue_SpannerIO_ReadAll.java"/>
                          <auto
                            name="AutoValue_SpannerIO_ReadChangeStream.java"/>
                          <auto
                            name="AutoValue_SpannerIO_Write.java"/>
                        </dir>
                      </dir>
                      <dir
                        name="mongodb">
                        <auto
                          name="AutoValue_MongoDbIO_Read.java"/>
                      </dir>
                    </dir>
                    <dir
                      name="schemas">
                      <auto
                        name="AutoValue_Schema_Field.java"/>
                      <auto
                        name="AutoValue_Schema_FieldType.java"/>
                    </dir>
                    <dir
                      name="transforms">
                      <dir
                        name="windowing">
                        <auto
                          name="AutoValue_Window.java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
</project>
