<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="Python"/>
      </watched>
      <dir
        name="venv"
        excluded="true">
        <dir
          name="Lib">
          <dir
            name="site-packages">
            <dir
              name="_pytest">
              <dir
                name="_code"/>
              <dir
                name="_io"/>
              <dir
                name="_py"/>
              <dir
                name="assertion"/>
              <dir
                name="config"/>
              <dir
                name="mark"/>
            </dir>
            <dir
              name="_yaml"/>
            <dir
              name="apache_beam">
              <dir
                name="coders"/>
              <dir
                name="dataframe"/>
              <dir
                name="examples">
                <dir
                  name="complete">
                  <dir
                    name="game"/>
                  <dir
                    name="juliaset">
                    <dir
                      name="juliaset"/>
                  </dir>
                </dir>
                <dir
                  name="cookbook"/>
                <dir
                  name="dataframe"/>
                <dir
                  name="flink"/>
                <dir
                  name="inference">
                  <dir
                    name="runinference_metrics">
                    <dir
                      name="pipeline"/>
                  </dir>
                  <dir
                    name="tfx_bsl"/>
                </dir>
                <dir
                  name="kafkataxi"/>
                <dir
                  name="ml_transform"/>
                <dir
                  name="snippets">
                  <dir
                    name="transforms">
                    <dir
                      name="aggregation"/>
                    <dir
                      name="elementwise"/>
                    <dir
                      name="other"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="internal">
                <dir
                  name="azure"/>
                <dir
                  name="gcp"/>
                <dir
                  name="metrics"/>
              </dir>
              <dir
                name="io">
                <dir
                  name="aws">
                  <dir
                    name="clients">
                    <dir
                      name="s3"/>
                  </dir>
                </dir>
                <dir
                  name="azure"/>
                <dir
                  name="components"/>
                <dir
                  name="external">
                  <dir
                    name="gcp"/>
                </dir>
                <dir
                  name="flink"/>
                <dir
                  name="gcp">
                  <dir
                    name="datastore">
                    <dir
                      name="v1new"/>
                  </dir>
                  <dir
                    name="experimental"/>
                  <dir
                    name="healthcare"/>
                  <dir
                    name="internal">
                    <dir
                      name="clients">
                      <dir
                        name="bigquery"/>
                    </dir>
                  </dir>
                  <dir
                    name="pubsublite"/>
                  <dir
                    name="tests"/>
                </dir>
              </dir>
              <dir
                name="metrics"/>
              <dir
                name="ml">
                <dir
                  name="gcp"/>
                <dir
                  name="inference"/>
                <dir
                  name="transforms">
                  <dir
                    name="embeddings"/>
                </dir>
              </dir>
              <dir
                name="options"/>
              <dir
                name="portability">
                <dir
                  name="api">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="beam">
                        <dir
                          name="model">
                          <dir
                            name="fn_execution">
                            <dir
                              name="v1"/>
                          </dir>
                          <dir
                            name="interactive">
                            <dir
                              name="v1"/>
                          </dir>
                          <dir
                            name="job_management">
                            <dir
                              name="v1"/>
                          </dir>
                          <dir
                            name="pipeline">
                            <dir
                              name="v1"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="runners">
                <dir
                  name="dask"/>
                <dir
                  name="dataflow">
                  <dir
                    name="internal">
                    <dir
                      name="clients">
                      <dir
                        name="cloudbuild"/>
                      <dir
                        name="dataflow"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="direct"/>
                <dir
                  name="interactive">
                  <dir
                    name="caching"/>
                  <dir
                    name="dataproc"/>
                  <dir
                    name="display"/>
                  <dir
                    name="messaging"/>
                  <dir
                    name="options"/>
                  <dir
                    name="sql"/>
                  <dir
                    name="testing">
                    <dir
                      name="integration"/>
                  </dir>
                </dir>
                <dir
                  name="internal"/>
                <dir
                  name="job"/>
                <dir
                  name="portability">
                  <dir
                    name="fn_api_runner"/>
                </dir>
                <dir
                  name="test"/>
                <dir
                  name="worker"/>
              </dir>
              <dir
                name="testing">
                <dir
                  name="analyzers"/>
                <dir
                  name="benchmarks">
                  <dir
                    name="chicago_taxi">
                    <dir
                      name="trainer"/>
                  </dir>
                  <dir
                    name="cloudml">
                    <dir
                      name="criteo_tft"/>
                    <dir
                      name="pipelines"/>
                  </dir>
                  <dir
                    name="inference"/>
                  <dir
                    name="nexmark">
                    <dir
                      name="models"/>
                    <dir
                      name="queries"/>
                  </dir>
                </dir>
                <dir
                  name="load_tests"/>
              </dir>
              <dir
                name="tools"/>
              <dir
                name="transforms">
                <dir
                  name="enrichment_handlers"/>
                <dir
                  name="xlang"/>
              </dir>
              <dir
                name="typehints">
                <dir
                  name="testing"/>
              </dir>
              <dir
                name="utils"/>
              <dir
                name="yaml"/>
            </dir>
            <dir
              name="attr"/>
            <dir
              name="attrs"/>
            <dir
              name="bson"/>
            <dir
              name="certifi"/>
            <dir
              name="charset_normalizer">
              <dir
                name="cli"/>
            </dir>
            <dir
              name="cloudpickle"/>
            <dir
              name="colorama">
              <dir
                name="tests"/>
            </dir>
            <dir
              name="coverage"/>
            <dir
              name="crcmod"/>
            <dir
              name="dateutil">
              <dir
                name="parser"/>
              <dir
                name="tz"/>
              <dir
                name="zoneinfo"/>
            </dir>
            <dir
              name="dill">
              <dir
                name="tests"/>
            </dir>
            <dir
              name="dns">
              <dir
                name="dnssecalgs"/>
              <dir
                name="quic"/>
              <dir
                name="rdtypes">
                <dir
                  name="ANY"/>
                <dir
                  name="CH"/>
                <dir
                  name="IN"/>
              </dir>
            </dir>
            <dir
              name="fastavro">
              <dir
                name="io"/>
              <dir
                name="repository"/>
            </dir>
            <dir
              name="fasteners">
              <dir
                name="pywin32"/>
            </dir>
            <dir
              name="google">
              <dir
                name="protobuf">
                <dir
                  name="compiler"/>
                <dir
                  name="internal"/>
                <dir
                  name="pyext"/>
                <dir
                  name="testdata"/>
                <dir
                  name="util"/>
              </dir>
            </dir>
            <dir
              name="gridfs">
              <dir
                name="asynchronous"/>
              <dir
                name="synchronous"/>
            </dir>
            <dir
              name="grpc">
              <dir
                name="_cython">
                <dir
                  name="_cygrpc"/>
              </dir>
              <dir
                name="aio"/>
              <dir
                name="beta"/>
              <dir
                name="experimental">
                <dir
                  name="aio"/>
              </dir>
              <dir
                name="framework">
                <dir
                  name="common"/>
                <dir
                  name="foundation"/>
                <dir
                  name="interfaces">
                  <dir
                    name="base"/>
                  <dir
                    name="face"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="hamcrest">
              <dir
                name="core">
                <dir
                  name="core"/>
                <dir
                  name="helpers"/>
              </dir>
              <dir
                name="library">
                <dir
                  name="collection"/>
                <dir
                  name="integration"/>
                <dir
                  name="number"/>
                <dir
                  name="object"/>
                <dir
                  name="text"/>
              </dir>
            </dir>
            <dir
              name="hdfs">
              <dir
                name="ext">
                <dir
                  name="avro"/>
              </dir>
            </dir>
            <dir
              name="httplib2"/>
            <dir
              name="idna"/>
            <dir
              name="iniconfig"/>
            <dir
              name="jsonpickle">
              <dir
                name="ext"/>
            </dir>
            <dir
              name="jsonschema">
              <dir
                name="benchmarks"/>
              <dir
                name="tests"/>
            </dir>
            <dir
              name="jsonschema_specifications">
              <dir
                name="tests"/>
            </dir>
            <dir
              name="mock"/>
            <dir
              name="numpy">
              <dir
                name="_core"/>
              <dir
                name="_pyinstaller"/>
              <dir
                name="_typing"/>
              <dir
                name="_utils"/>
              <dir
                name="array_api">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="compat">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="core">
                <dir
                  name="tests">
                  <dir
                    name="examples">
                    <dir
                      name="cython"/>
                    <dir
                      name="limited_api"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="doc"/>
              <dir
                name="f2py">
                <dir
                  name="_backends"/>
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="fft">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="lib">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="linalg">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="ma">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="matrixlib">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="polynomial">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="random">
                <dir
                  name="_examples">
                  <dir
                    name="cffi"/>
                  <dir
                    name="numba"/>
                </dir>
                <dir
                  name="tests">
                  <dir
                    name="data"/>
                </dir>
              </dir>
              <dir
                name="testing">
                <dir
                  name="_private"/>
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="tests"/>
              <dir
                name="typing">
                <dir
                  name="tests">
                  <dir
                    name="data">
                    <dir
                      name="pass"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="objsize"/>
            <dir
              name="orjson"/>
            <dir
              name="packaging"/>
            <dir
              name="pandas">
              <dir
                name="_config"/>
              <dir
                name="_libs">
                <dir
                  name="tslibs"/>
                <dir
                  name="window"/>
              </dir>
              <dir
                name="_testing"/>
              <dir
                name="api">
                <dir
                  name="extensions"/>
                <dir
                  name="indexers"/>
                <dir
                  name="interchange"/>
                <dir
                  name="types"/>
                <dir
                  name="typing"/>
              </dir>
              <dir
                name="arrays"/>
              <dir
                name="compat">
                <dir
                  name="numpy"/>
              </dir>
              <dir
                name="core">
                <dir
                  name="_numba">
                  <dir
                    name="kernels"/>
                </dir>
                <dir
                  name="array_algos"/>
                <dir
                  name="arrays">
                  <dir
                    name="arrow"/>
                  <dir
                    name="sparse"/>
                </dir>
                <dir
                  name="computation"/>
                <dir
                  name="dtypes"/>
                <dir
                  name="groupby"/>
                <dir
                  name="indexers"/>
                <dir
                  name="indexes"/>
                <dir
                  name="interchange"/>
                <dir
                  name="internals"/>
                <dir
                  name="methods"/>
                <dir
                  name="ops"/>
                <dir
                  name="reshape"/>
                <dir
                  name="sparse"/>
                <dir
                  name="strings"/>
                <dir
                  name="tools"/>
                <dir
                  name="util"/>
                <dir
                  name="window"/>
              </dir>
              <dir
                name="errors"/>
              <dir
                name="io">
                <dir
                  name="clipboard"/>
                <dir
                  name="excel"/>
                <dir
                  name="formats"/>
                <dir
                  name="json"/>
                <dir
                  name="parsers"/>
                <dir
                  name="sas"/>
              </dir>
              <dir
                name="plotting">
                <dir
                  name="_matplotlib"/>
              </dir>
              <dir
                name="tests">
                <dir
                  name="api"/>
                <dir
                  name="apply"/>
                <dir
                  name="arithmetic"/>
                <dir
                  name="arrays">
                  <dir
                    name="boolean"/>
                  <dir
                    name="categorical"/>
                  <dir
                    name="datetimes"/>
                  <dir
                    name="floating"/>
                  <dir
                    name="integer"/>
                  <dir
                    name="interval"/>
                  <dir
                    name="masked"/>
                  <dir
                    name="numpy_"/>
                  <dir
                    name="period"/>
                  <dir
                    name="sparse"/>
                  <dir
                    name="string_"/>
                  <dir
                    name="timedeltas"/>
                </dir>
                <dir
                  name="base"/>
                <dir
                  name="computation"/>
                <dir
                  name="config"/>
                <dir
                  name="construction"/>
                <dir
                  name="copy_view">
                  <dir
                    name="index"/>
                </dir>
                <dir
                  name="dtypes">
                  <dir
                    name="cast"/>
                </dir>
                <dir
                  name="extension">
                  <dir
                    name="array_with_attr"/>
                  <dir
                    name="base"/>
                  <dir
                    name="date"/>
                  <dir
                    name="decimal"/>
                  <dir
                    name="json"/>
                  <dir
                    name="list"/>
                </dir>
                <dir
                  name="frame">
                  <dir
                    name="constructors"/>
                  <dir
                    name="indexing"/>
                  <dir
                    name="methods"/>
                </dir>
                <dir
                  name="generic"/>
                <dir
                  name="groupby">
                  <dir
                    name="aggregate"/>
                  <dir
                    name="methods"/>
                  <dir
                    name="transform"/>
                </dir>
                <dir
                  name="indexes">
                  <dir
                    name="base_class"/>
                  <dir
                    name="categorical"/>
                  <dir
                    name="datetimelike_"/>
                  <dir
                    name="datetimes">
                    <dir
                      name="methods"/>
                  </dir>
                  <dir
                    name="interval"/>
                  <dir
                    name="multi"/>
                  <dir
                    name="numeric"/>
                  <dir
                    name="object"/>
                  <dir
                    name="period">
                    <dir
                      name="methods"/>
                  </dir>
                  <dir
                    name="ranges"/>
                  <dir
                    name="timedeltas">
                    <dir
                      name="methods"/>
                  </dir>
                </dir>
                <dir
                  name="indexing">
                  <dir
                    name="interval"/>
                  <dir
                    name="multiindex"/>
                </dir>
                <dir
                  name="interchange"/>
                <dir
                  name="internals"/>
                <dir
                  name="io">
                  <dir
                    name="excel"/>
                  <dir
                    name="formats">
                    <dir
                      name="style"/>
                  </dir>
                  <dir
                    name="json"/>
                  <dir
                    name="parser">
                    <dir
                      name="common"/>
                    <dir
                      name="dtypes"/>
                    <dir
                      name="usecols"/>
                  </dir>
                  <dir
                    name="pytables"/>
                  <dir
                    name="sas"/>
                  <dir
                    name="xml"/>
                </dir>
                <dir
                  name="libs"/>
                <dir
                  name="plotting">
                  <dir
                    name="frame"/>
                </dir>
                <dir
                  name="reductions"/>
                <dir
                  name="resample"/>
                <dir
                  name="reshape">
                  <dir
                    name="concat"/>
                  <dir
                    name="merge"/>
                </dir>
                <dir
                  name="scalar">
                  <dir
                    name="interval"/>
                  <dir
                    name="period"/>
                  <dir
                    name="timedelta">
                    <dir
                      name="methods"/>
                  </dir>
                  <dir
                    name="timestamp">
                    <dir
                      name="methods"/>
                  </dir>
                </dir>
                <dir
                  name="series">
                  <dir
                    name="accessors"/>
                  <dir
                    name="indexing"/>
                  <dir
                    name="methods"/>
                </dir>
                <dir
                  name="strings"/>
                <dir
                  name="tools"/>
                <dir
                  name="tseries">
                  <dir
                    name="frequencies"/>
                  <dir
                    name="holiday"/>
                  <dir
                    name="offsets"/>
                </dir>
                <dir
                  name="tslibs"/>
                <dir
                  name="util"/>
                <dir
                  name="window">
                  <dir
                    name="moments"/>
                </dir>
              </dir>
              <dir
                name="tseries"/>
              <dir
                name="util">
                <dir
                  name="version"/>
              </dir>
            </dir>
            <dir
              name="parameterized"/>
            <dir
              name="pip">
              <dir
                name="_internal">
                <dir
                  name="cli"/>
                <dir
                  name="commands"/>
                <dir
                  name="distributions"/>
                <dir
                  name="index"/>
                <dir
                  name="locations"/>
                <dir
                  name="metadata">
                  <dir
                    name="importlib"/>
                </dir>
                <dir
                  name="models"/>
                <dir
                  name="network"/>
                <dir
                  name="operations">
                  <dir
                    name="build"/>
                  <dir
                    name="install"/>
                </dir>
                <dir
                  name="req"/>
                <dir
                  name="resolution">
                  <dir
                    name="legacy"/>
                  <dir
                    name="resolvelib"/>
                </dir>
                <dir
                  name="utils"/>
                <dir
                  name="vcs"/>
              </dir>
              <dir
                name="_vendor">
                <dir
                  name="cachecontrol">
                  <dir
                    name="caches"/>
                </dir>
                <dir
                  name="certifi"/>
                <dir
                  name="chardet">
                  <dir
                    name="cli"/>
                  <dir
                    name="metadata"/>
                </dir>
                <dir
                  name="colorama">
                  <dir
                    name="tests"/>
                </dir>
                <dir
                  name="distlib"/>
                <dir
                  name="distro"/>
                <dir
                  name="idna"/>
                <dir
                  name="msgpack"/>
                <dir
                  name="packaging"/>
                <dir
                  name="pkg_resources"/>
                <dir
                  name="platformdirs"/>
                <dir
                  name="pygments">
                  <dir
                    name="filters"/>
                  <dir
                    name="formatters"/>
                  <dir
                    name="lexers"/>
                  <dir
                    name="styles"/>
                </dir>
                <dir
                  name="pyparsing">
                  <dir
                    name="diagram"/>
                </dir>
                <dir
                  name="pyproject_hooks">
                  <dir
                    name="_in_process"/>
                </dir>
                <dir
                  name="requests"/>
                <dir
                  name="resolvelib">
                  <dir
                    name="compat"/>
                </dir>
                <dir
                  name="rich"/>
                <dir
                  name="tenacity"/>
                <dir
                  name="tomli"/>
                <dir
                  name="urllib3">
                  <dir
                    name="contrib">
                    <dir
                      name="_securetransport"/>
                  </dir>
                  <dir
                    name="packages">
                    <dir
                      name="backports"/>
                  </dir>
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="webencodings"/>
              </dir>
            </dir>
            <dir
              name="pluggy"/>
            <dir
              name="proto">
              <dir
                name="marshal">
                <dir
                  name="collections"/>
                <dir
                  name="rules"/>
              </dir>
            </dir>
            <dir
              name="pyarrow">
              <dir
                name="interchange"/>
              <dir
                name="parquet"/>
              <dir
                name="tests">
                <dir
                  name="interchange"/>
                <dir
                  name="parquet"/>
              </dir>
              <dir
                name="vendored"/>
            </dir>
            <dir
              name="pyarrow_hotfix"/>
            <dir
              name="pymongo">
              <dir
                name="asynchronous"/>
              <dir
                name="synchronous"/>
            </dir>
            <dir
              name="pyparsing">
              <dir
                name="diagram"/>
            </dir>
            <dir
              name="pytest"/>
            <dir
              name="pytz"/>
            <dir
              name="redis">
              <dir
                name="_parsers"/>
              <dir
                name="asyncio"/>
              <dir
                name="commands">
                <dir
                  name="bf"/>
                <dir
                  name="graph"/>
                <dir
                  name="json"/>
                <dir
                  name="search"/>
                <dir
                  name="timeseries"/>
              </dir>
            </dir>
            <dir
              name="referencing">
              <dir
                name="tests"/>
            </dir>
            <dir
              name="regex"/>
            <dir
              name="requests"/>
            <dir
              name="rpds"/>
            <dir
              name="tenacity">
              <dir
                name="asyncio"/>
            </dir>
            <dir
              name="tzdata">
              <dir
                name="zoneinfo">
                <dir
                  name="Africa"/>
                <dir
                  name="America">
                  <dir
                    name="Argentina"/>
                  <dir
                    name="Indiana"/>
                  <dir
                    name="Kentucky"/>
                  <dir
                    name="North_Dakota"/>
                </dir>
                <dir
                  name="Antarctica"/>
                <dir
                  name="Arctic"/>
                <dir
                  name="Asia"/>
                <dir
                  name="Atlantic"/>
                <dir
                  name="Australia"/>
                <dir
                  name="Brazil"/>
                <dir
                  name="Canada"/>
                <dir
                  name="Chile"/>
                <dir
                  name="Etc"/>
                <dir
                  name="Europe"/>
                <dir
                  name="Indian"/>
                <dir
                  name="Mexico"/>
                <dir
                  name="Pacific"/>
                <dir
                  name="US"/>
              </dir>
            </dir>
            <dir
              name="urllib3">
              <dir
                name="contrib">
                <dir
                  name="emscripten"/>
              </dir>
              <dir
                name="http2"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="yaml"/>
            <dir
              name="zstandard"/>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Python"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    output_file="./apacheSubProjectPython.csv"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532">
    <metric
      name="AvgCyclomatic"/>
    <metric
      name="MaxCyclomatic"/>
    <metric
      name="AvgCountLineCode"/>
    <metric
      name="CountLineCode"/>
    <metric
      name="RatioCommentToCode"/>
    <metric
      name="CountLineComment"/>
    <metric
      name="CountDeclClass"/>
    <metric
      name="CountDeclMethod"/>
    <metric
      name="CountLineCodeExe"/>
    <metric
      name="MaxNesting"/>
  </metrics>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
</project>
